.loader {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 9999;
    top: 0;
    opacity: 1;
  }

  .loader::before {
    content: "";
    position: absolute;
    background: #0288d1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: moving 1s ease-in-out infinite;
  }

  @keyframes moving {
    50% {
      width: 100%;
    }

    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }