.cardContent {
  background: rgba(168, 168, 168, 0.3);
  border-radius: 30px;
  color: currentColor;
  font-size: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.titleCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(124, 124, 124);
  border-radius: 20px;
  padding-left: 20px;
}


.nombre {
  font-size: 16px;
  font-weight: 600;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

}

.price :nth-child(1) {
  font-size: 24px;
}


.textoDesc {
  display: -webkit-box;
  display: box; 
  -webkit-line-clamp: 2; 
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.cardBtns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}



/* === RESPONSIVE === */
@media (max-width: 768px) {
  .cardContainer .titleCard p {
    font-size: 13px;
  }

  .cardContainer .cardContent {
    padding: 14px;
    gap: 16px;
  }

  .imageContainer {
    height: 100%;
  }


  .cardContainer .cardContent .cardBtn {
    font-size: 11px;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .cardContainer {
    border-radius: 24px;
  }

  .cardContainer .titleCard {
    padding: 12px 14px;
  }

.titleCard {
    font-size: 12px;
  }

.cardContent {
    padding: 12px;
    gap: 14px;
  }

  .imageContainer .image {
    width: 100%;
  }

  .cardContainer .cardContent {
    font-size: 10px;
    padding: 5px;
  }
}