.productContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.productImage {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.productDetails {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.precio {
    font-size: 30px;
    font-weight: bold;
    color: currentColor;
    margin-top: 20px;
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.headerContainer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.backIcon {
    font-size: 24px;
    cursor: pointer;
    color: currentColor;
}
.backIcon:hover {
    background-color: #007bff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .productContainer {
        flex-direction: column;
        width: 90%;
    }

    .productImage {
        width: 100%;
        height: 300px;
    }

    .productDetails {
        width: 100%;
    }

    .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
  
    }
}