.loader1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Barcode 39 Extended Text', serif;
    font-size: 5rem;
    color: #cecece;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    justify-self: center;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.8);
    
}

.loader {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 9999;
    top: 0;
  }

  .loader::before {
    content: "";
    position: absolute;
    background: #0288d1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: moving 2.5s ease-in-out infinite;
    ;
  }

  @keyframes moving {
    50% {
      width: 100%;
    }

    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }