.container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.swiper{
    width: 100%;
    height: 600px;
    border-radius: 20px;
}
.imageBox{
    width: 100%;
    height: 100%;
    position: relative;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

