.loginHamb{
    display: none;
    opacity: 0;
    visibility: none;
}

/* Media query para pantallas pequeñas */
@media (max-width: 1280px) {

    .loginHamb{
        display: flex;
        visibility: visible;
        opacity: 1;
        width: 100%;
        align-items: center;
    }

}

