.cuerpo {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center; 
    color: currentColor;
    
}

.contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 100px;
    width: 95%;
    min-height: 100vh;
    justify-self: center;
    border-radius: 20px;
    gap: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid,
.grid2 {
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    min-height: 340px;
    gap: 20px;
    box-sizing: border-box;
;
}

.grid2 {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.carrito {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Media query para pantallas pequeñas */
@media (max-width: 1280px) {
  
    .grid,
    .grid2 {
        padding-top: 20px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        min-height: 340px;
        gap: 20px;
        box-sizing: border-box;
        justify-items: center;
    }

   

}
@media (max-width: 820px) {
  
    .grid,
    .grid2 {
        padding-top: 20px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        min-height: 340px;
        gap: 20px;
        box-sizing: border-box;
        justify-items: center;
        
    }

}
@media (max-width: 480px) {
  
    .grid,
    .grid2 {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px;
        box-sizing: border-box;
        justify-items: center;
    }

    

}
