.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    width: 80%;
    background-color: rgba(68, 68, 68, 0.8);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
  }
  
  .botonTema {
    position: fixed;
    top: 2.5%;
    right: 3%;
    z-index: 1000;
  }
  
  .botonWsp {
    position: fixed;
    bottom: 2.5%;
    right: 3%;
    z-index: 1000;
    scale: 1.1;
  }
  
  .nav,
  .nav1 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 20px;
    grid-column: 1;
  }
  
  .title {
    grid-column: 2;
    font-family: 'Libre Barcode 39 Extended Text', serif;
    font-size: 3rem;
    color: #cecece;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    justify-self: center;
    text-align: center;
  }
  
  .login,
  .login1 {
    display: flex;
    align-items: center;
    grid-column: 3;
    justify-self: end;
  }
  
  .loginHamb {
    display: none;
  }
  
  /* Media Queries */
  @media (max-width: 1280px) {
    .header {
      width: 80%;
    }
  
    .title {
      font-size: 2.75rem;
    }
  
    .login1,
    .nav1 {
      display: none;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      justify-self: center;
      justify-content: space-between;
    }
  }
  
  @media (max-width: 480px) {
    .header {
      width: 90%;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .botonTema,
    .botonWsp {
      scale: 1;
    }
  
    .botonTema {
      position: absolute;
      top: 80px;
      right: 2%;
      scale: 1;
      z-index: 0;
    }
  }
  
  @media (max-width: 420px) {
    .botonTema {
      top: 80px;
      right: 2%;
      position: absolute;
    }
  }
  