/* .pieDePag {
    width: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(68, 68, 68, 0.8);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
    margin-top: auto;
}

.tituloVirch{
    font-family: 'Libre Barcode 39 Extended Text', serif;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 5px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contactInfo p {
    font-size: 1rem;
    font-weight: 400;
    color: currentColor;
}

.developerInfo {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.developerText {
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.infoDev {
    font-size: 1rem;
    font-weight: 500;
    color: currentColor;
}
.developerLink {
    color: currentColor;
    margin-right: 90px;
    text-decoration: none;
    font-family: 'Libre Barcode 39 Extended Text', serif;
    font-size: 2.3rem;
    
}

.developerLink:hover {
    color: #0288d1;
    transition: all 0.3s;
}

.logoContainer {
    margin: 0;
    padding: 0;
} */
