

:root {
    /* Modo Oscuro (Actual) */
    --color-fondo-oscuro: #353535;
    --color-texto-oscuro: #cecece;
    --color-fondo-tarjeta-oscuro: #4a4a4a;
    --color-borde-oscuro: #5c5c5c;
  
    /* Modo Claro */
    --color-fondo-claro: #e7e7e7;
    --color-texto-claro: #333333;
    --color-fondo-tarjeta-claro: #ffffff;
    --color-borde-claro: #e0e0e0;

  }

  html, body {
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
  }
  
  body.modo-oscuro {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
  }
  
  body.modo-claro {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
  }
  

  
  .modo-oscuro .fondo {
    background-color: var(--color-fondo-oscuro);
  }
  
  .modo-claro .fondo {
    background-color: var(--color-fondo-claro);
  }
  
  