

:root {
    /* Modo Oscuro (Actual) */
    --color-fondo-oscuro: #353535;
    --color-texto-oscuro: #cecece;
    --color-fondo-tarjeta-oscuro: #4a4a4a;
    --color-borde-oscuro: #5c5c5c;
  
    /* Modo Claro */
    --color-fondo-claro: #e7e7e7;
    --color-texto-claro: #333333;
    --color-fondo-tarjeta-claro: #ffffff;
    --color-borde-claro: #e0e0e0;
  }
  
  
  body {
    transition: background-color 0.3s, color 0.3s;
    /* width: 100%; */
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
  }
  
  body.modo-oscuro {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
  }
  
  body.modo-claro {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
  }
  
  .fondo{
    width: 100%;
    min-height: 100%;
    background-image: url(../src/assets/imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position:static;
  }
  
  .modo-oscuro .fondo {
    background-color: var(--color-fondo-oscuro);
  }
  
  .modo-claro .fondo {
    background-color: var(--color-fondo-claro);
  }
  
  